@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-pagination-bullet {
  background-color: #d0d5dd;
  width: 96px;
  height: 12px;
  border-radius: 12px;
  top: 20px;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #056049;
}

/* Customizing the calendar container */
.custom-calendar {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Selected date styles */
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  @apply bg-[#056049] text-white rounded-full;
}

/* Navigation arrow colors */
.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border-color: #056049 !important;
}

/* Navigation arrow hover effect */
.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next:hover {
  border-color: #03472c !important;
}
